[project]
	description = test repo on github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/christophgoos
[access "refs/for/refs/*"]
	read = group user/christophgoos
	push = group user/christophgoos
	label-Code-Review = -2..+2 group user/christophgoos
	label-Verified = -1..+1 group user/christophgoos
	rebase = group user/christophgoos
	removeReviewer = group user/christophgoos
	submit = group user/christophgoos
[access "refs/heads/*"]
	read = group user/christophgoos
	create = group user/christophgoos
	push = +force group user/christophgoos
	pushMerge = group user/christophgoos
[access "refs/tags/*"]
	push = +force group user/christophgoos
	pushTag = group user/christophgoos
	pushSignedTag = group user/christophgoos
